.navbar{
    width: 100%;
    display: flex;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.navbar a:hover{
    color: #FFBB33;
}

.navbar img{
    width: 59px;
    height: 34px;

}


.item svg{
    font-size: 1.2em;
    margin-right: 0.1em; 
    margin-left: -0.1em;
    margin-top: -0.5em;
    margin-bottom: -0.1em;
 }

